* {
  all: unset;
}

.powermenu_layout {
  border: 2px solid #cdd6f4;
  border-radius: 8px;
  padding: 0px;
}

.powermenu_index {
  font-family: "Material Design Icons Desktop Regular", "Google Sans Regular";
}

.buttons {
  border-radius: 8px;
  margin-left: 15;
  margin-right: 15;
  padding-left: 80;
  padding-right: 80;
  padding-top: 35;
  padding-bottom: 35;
}

.close {
  padding-top: 20;
  padding-bottom: 20;
  margin-right: 25;
}

.calendar_layout {
  padding: 5px;
  border-radius: 8px;
  border: 2px solid #cdd6f4;
}

.calendar_box {
  border-radius: 8px;
  background-color: #1e1e2e;
}

.calendar.header {
  color: #cba6f7;
}

.calendar.button {
  color: #cba6f7;
}

.calendar.highlight {
  margin-top: 4px;
  margin-bottom: 4px;
  color: #74c7ec;
}

calendar:indeterminate {
  color: #6c7086;
}

.exit {
  color: #f38ba8;
  font-size: 20px;
}

.shutdown {
  border-radius: 7px;
  color: #f38ba8;
  font-size: 40px;
}

.reboot {
  color: #f9e2af;
  font-size: 40px;
}

.logout {
  border-radius: 7px;
  color: #74c7ec;
  font-size: 40px;
  padding: 8px;
}
