* {
  font-family: "CaskaydiaCove NF", monospace;
  font-size: 13px;
  transition: color 0.3s ease-out;
}

window#waybar {
  background: transparent;
  color: #c0caf5;
  border-radius: 0;
  padding: 2px 4px;
}

.modules-left,
.modules-center,
.modules-right {
  background: #000000;
  margin: 3px 6px;
  padding: 4px 8px;
  border-radius: 8px;
  border: 1px solid #111111;
}

#clock,
#cpu,
#memory,
#disk,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpd,
#custom-arch,
#temperature {
  background: transparent;
  padding: 0 5px;
  margin: 0 2px;
  border-radius: 0;
  transition: color 0.3s ease;
}

#clock:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#backlight:hover,
#network:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#scratchpad:hover,
#mpd:hover,
#custom-arch:hover,
#temperature:hover {
  color: #89b4fa;
}

#workspaces button {
  background: transparent;
  font-weight: bold;
  font-size: 12px;
  color: #c0caf5;
  border: none;
  border-radius: 0;
  padding: 0 8px;
  margin: 0 2px;
  border-bottom: 2px solid transparent;
  outline: none;
  box-shadow: none;
}

#workspaces button.active {
  color: #89dceb;
  border-bottom: 2px solid #89dceb;
}

#workspaces button:hover {
  color: inherit;
  border-bottom: 2px solid transparent;
  outline: none;
  box-shadow: none;
}

#custom-arch {
  margin-left: 4px;
  padding: 0 5px;
  font-size: 13px;
  color: #7dcfff;
}

#custom-arch:hover {
  color: #1793d1;
}

#custom-restart {
  padding: 0 5px;
  font-size: 14px;
  color: #f9e2af;
}

#custom-restart:hover {
  color: #f1c40f;
}

#custom-shutdown {
  padding: 0 5px;
  font-size: 14px;
  color: #f38ba8;
}

#custom-shutdown:hover {
  color: #e74c3c;
}

#custom-lock {
  padding: 0 5px;
  font-size: 14px;
  color: #a6e3a1;
}

#custom-lock:hover {
  color: #27ae60;
}

#custom-signout {
  padding: 0 5px;
  font-size: 14px;
  color: #fab387;
}

#custom-signout:hover {
  color: #e67e22;
}

#tray {
  padding-right: 5px;
}
